
<div class="prl-grid prl-grid-divider">
<section id="main" class="prl-span-9">
<article id="article-single">
  <h1><a href="#">Pellentesque erat arcu, pulvinar vel varius</a></h1>
  <hr class="prl-grid-divider">
  <div class="prl-grid">



    <div class="prl-span-9 prl-span-flip">

      <div class="prl-entry-content">
        <div class="space-bot">
          <a href="#" class="prl-thumbnail"><img src="assets/images/_slider_simple/1.jpg" alt="Pellentesque erat arcu" /></a>
        </div>

        <p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit. In luctus luctus est vestibulum luctus. Cras semper mollis feugiat. Suspendisse mollis, massa id aliquam vulputate, libero risus iaculis velit, ut elementum ipsum orci in nibh. Fusce vitae mauris enim. Integer vitae ullamcorper sapien. Ut hendrerit urna ac nulla elementum sed hendrerit tortor laoreet. Donec suscipit orci vel justo tincidunt sodales. Quisque varius libero nec risus ornare eu vestibulum est luctus. Sed blandit tellus quis eros dictum et vehicula neque tempus. In congue rutrum mauris a pellentesque.

        </p>
        <p>
          Pellentesque odio metus, sollicitudin cursus pretium mattis, hendrerit eu erat. Integer orci tellus, ultrices eu egestas sed, rutrum sed orci. Curabitur molestie, purus eu feugiat ullamcorper, ligula dolor luctus turpis, vitae ullamcorper ligula elit ac dolor. Aliquam erat volutpat. Phasellus vel tortor justo, at consectetur tortor. Ut semper eros et lectus pharetra sit amet dapibus leo porttitor. Mauris vitae odio leo. Sed sit amet interdum nulla.
        </p><p>
        Cras aliquam nisl sit amet arcu commodo suscipit. Pellentesque sed mattis quam. Nulla quis augue sit amet ante luctus convallis luctus at erat. Phasellus elementum mattis elit eu eleifend. Suspendisse libero nisi, ultrices sit amet pellentesque vitae, tristique a libero. Suspendisse potenti. Integer tincidunt vestibulum enim ut cursus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p><p>
        Quisque odio odio, luctus at pulvinar a, gravida sit amet dolor. Nunc elementum ornare eros non interdum. Sed auctor congue ullamcorper. Cras ultricies pharetra risus ut tincidunt. Quisque porta mauris at ante rhoncus vulputate posuere quam vehicula. Sed at odio eu neque ultrices tincidunt. Donec porta tristique ipsum et volutpat.
      </p><p>
        Donec et ligula mauris, vel feugiat urna. Donec at neque non eros vestibulum posuere lacinia sit amet orci. In aliquet arcu lobortis est cursus semper. Mauris posuere accumsan eros lacinia convallis. Donec aliquet vulputate sodales. Quisque scelerisque urna at risus iaculis sed feugiat mi dictum. Maecenas tincidunt enim magna. Nunc orci arcu, tincidunt rutrum vehicula non, congue ut mi. Aenean vel ipsum vel lacus pellentesque facilisis. Proin bibendum suscipit sodales. Phasellus quis orci a nunc faucibus faucibus vitae id justo. Nullam id nibh justo, nec condimentum massa. Maecenas non mauris eu augue consectetur pharetra at sit amet leo. Suspendisse dictum, eros eget vestibulum consequat, ante enim consequat mauris, et convallis neque odio non nisl.</p>


      </div> <!-- .prl-entry-content -->
    </div>


    <div class="prl-span-3 prl-entry-meta">

      <div class="prl-article-meta">
        <span><i class="fa fa-calendar-o"></i> Nov 18th, 2013</span>
        <span><a href="#comment"><i class="fa fa-comment-o"></i> 23</a></span>
        <i class="fa fa-eye"></i> 123
      </div>

      <hr class="prl-article-divider">

      <p class="rating-head">Editor review</p>
      <p class="prl-post-rating ">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
      </p>
      <p>Excellent: 10/10</p>
      <strong>Design</strong>
      <div class="prl-progress prl-progress-mini">
        <div class="prl-progress-bar" style="width: 40%;"></div>
      </div>

      <strong>Touch screen</strong>
      <div class="prl-progress prl-progress-mini">
        <div class="prl-progress-bar" style="width: 70%;"></div>
      </div>
      <strong>Battery</strong>
      <div class="prl-progress prl-progress-mini">
        <div class="prl-progress-bar" style="width: 40%;"></div>
      </div>

      <strong>Applications</strong>
      <div class="prl-progress prl-progress-mini">
        <div class="prl-progress-bar" style="width: 70%;"></div>
      </div>
      <hr class="prl-article-divider">
      <p class="rating-head">User rating: 3.76 (440)</p>
      <p class="prl-post-rating prl-user-rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i>
      </p>
      <hr class="prl-article-divider">

      <ul class="prl-list prl-list-sharing">
        <li class="header">SHARING</li>
        <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i> Google plus</a></li>
        <li><a href="#"><i class="fa fa-pinterest-square"></i> Pinterest</a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Mail this article</a></li>
        <li><a href="#" onclick="window.print();" id="print-page" ><i class="fa fa-print"></i> Print this article</a></li>
      </ul>

      <hr class="prl-article-divider">
      <p class="prl-article-tags"><span class="prl-article-tags-header">TAGS:</span> <a href="">News</a>, <a href="">Wordpress</a>, <a href="">HTML</a>, <a href="">CSS</a>, <a href="">Web Design</a></p>


    </div>

  </div> <!-- .prl-grid -->

</article>

<hr class="prl-grid-divider">

<div class="prl-article-author clearfix">
  <img src="http://placekitten.com/100/100" class="author-avatar" width="100" height="100" alt="Author" >
  <div class="author-info">
    <h5>PressLayer</h5>
    <p>Donec et ligula mauris, vel feugiat urna. Donec at neque non eros vestibulum posuere lacinia sit amet orci. Maecenas non mauris eu augue consectetur pharetra at sit amet leo.</p>
  </div>
</div>

<div class="prl-homepage-widget prl-panel">
  <h5 class="prl-block-title">Related articles  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>

  <div class="prl-grid prl-grid-divider">
    <div class="prl-span-4">
      <article class="prl-article">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                         <img src="assets/images/_p/1.jpg" alt="Praesent lectus orci">
                        <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>
    <div class="prl-span-4">
      <article class="prl-article">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                         <img src="assets/images/_p/2.jpg" alt="Praesent lectus orci">
                        <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>
    <div class="prl-span-4">
      <article class="prl-article">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                         <img src="assets/images/_p/3.jpg" alt="Praesent lectus orci">
                        <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>
  </div>
</div>
<div id="comment" class="prl-panel">
  <h5 class="prl-block-title">2 comments</h5>
  <ul class="prl-comment-list">
    <li>
      <article class="prl-comment">
        <header class="prl-comment-header">
          <img class="prl-comment-avatar" src="http://placekitten.com/50/50" alt="">
          <h4 class="prl-comment-title">Author</h4>
          <div class="prl-comment-meta">Written by Super User on 12 April 2012. Posted in Blog</div>
        </header>
        <div class="prl-comment-body">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <button class="prl-button small light">Reply</button>
        </div>
      </article>
      <ul>
        <li>
          <article class="prl-comment">
            <header class="prl-comment-header">
              <img class="prl-comment-avatar" src="http://placekitten.com/50/50" alt="">
              <h4 class="prl-comment-title">Author</h4>
              <div class="prl-comment-meta">Written by Super User on 12 April 2012. Posted in Blog</div>
            </header>
            <div class="prl-comment-body">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
              <button class="prl-button small light">Reply</button>
            </div>
          </article>

          <ul>
            <li>
              <article class="prl-comment">
                <header class="prl-comment-header">
                  <img class="prl-comment-avatar" src="http://placekitten.com/50/50" alt="">
                  <h4 class="prl-comment-title">Author</h4>
                  <div class="prl-comment-meta">Written by Super User on 12 April 2012. Posted in Blog</div>
                </header>
                <div class="prl-comment-body">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                  <button class="prl-button small light">Reply</button>
                </div>
              </article>
            </li>
          </ul>

        </li>
      </ul>
    </li>
    <li>
      <article class="prl-comment">
        <header class="prl-comment-header">
          <img class="prl-comment-avatar" src="http://placekitten.com/50/50" alt="">
          <h4 class="prl-comment-title">Author</h4>
          <div class="prl-comment-meta">Written by Super User on 12 April 2012. Posted in Blog</div>
        </header>
        <div class="prl-comment-body">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <button class="prl-button small light">Reply</button>
        </div>
      </article>
    </li>
    <li>
      <article class="prl-comment">
        <header class="prl-comment-header">
          <img class="prl-comment-avatar" src="http://placekitten.com/50/50" alt="">
          <h4 class="prl-comment-title">Author</h4>
          <div class="prl-comment-meta">Written by Super User on 12 April 2012. Posted in Blog</div>
        </header>
        <div class="prl-comment-body">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <button class="prl-button small light">Reply</button>
        </div>
      </article>
    </li>

  </ul>

  <div id="respond">
    <h5 class="prl-block-title">Leave a reply</h5>

    <form class="prl-form prl-form-stacked">
      <fieldset>
        <div class="prl-grid">
          <div class="prl-span-6">
            <div class="prl-form-row">
              <label class="prl-form-label" for="name">Name *</label>
              <div class="prl-form-controls prl-comment-name"><input id="name" type="text" placeholder="" ></div>
            </div>
            <div class="prl-form-row">
              <label class="prl-form-label" for="email">Email *</label>
              <div class="prl-form-controls prl-comment-email"><input id="email" type="text" placeholder="" ></div>
            </div>
          </div>
          <div class="prl-span-6">
            <div class="prl-form-row">
              <label class="prl-form-label" for="website">Website</label>
              <div class="prl-form-controls prl-comment-url"><input id="website" type="text" placeholder="" ></div>
            </div>
            <div class="prl-form-row">
              <label class="prl-form-label" for="anti-spam">Anti-Spam *</label>
              <div class="prl-form-controls"><input id="anti-spam" type="text" placeholder="" class="prl-form-width-small" > <span class="prl-form-help-inline"><img src="assets/images/spam.png" alt="anti spam"></span></div>
            </div>
          </div>
          <div class="prl-span-12">
            <div class="prl-form-row space-top">
              <label class="prl-form-label" for="form-s-t">Comment *</label>
              <div class="prl-form-controls">
                <textarea id="form-s-t" cols="30" rows="8" placeholder="" class="prl-width-1-1"></textarea>
              </div>
            </div>
          </div>
          <div class="prl-span-12">
            <div class="prl-form-row space-top">
              <button class="prl-button prl-button-primary" type="submit">Post Comment</button>
              <em class="prl-form-help-inline">Required fields are marked (*)</em>

            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>

</div><!-- #comment -->
</section>

<%= render :partial =>'layouts/sidebar' %>

</div>