

  <div class="prl-grid" >
    <div class="prl-span-12">


      <div id="map_canvas" style="height:400px;"></div>

      <script>
          jQuery(function($){
              $("#map_canvas").gMap({zoom: 14, markers: [ { latitude: '35.654472', longitude: '139.759612',html: '<h3>Title</h3><p>You can write something about your company, address, phone...ect. HTML is allowed.</p>'} ], mapTypeControl: false, zoomControl: false, scrollwheel: false} );

          });
      </script>

    </div>
  </div>

  <div class="prl-grid prl-grid-divider">

    <section  class="prl-span-4">
      <h3>PRESSLAYER HQ</h3>
      <p><i class="fa fa-map-marker"></i> 2-16-1 Konan Shinagawa East One Tower Minato, Tokyo 108-8282 - JAPAN</p>
      <hr class="prl-grid-divider" />

      <ul class="prl-list no-bullet">
        <li><i class="fa fa-phone"></i> +81 80 3795 976128 - <em>Sales</em></li>
        <li><i class="fa fa-phone"></i> +81 80 3795 976129 - <em>Tech Support</em></li>
      </ul>


      <hr class="prl-grid-divider" />


      <ul class="prl-list no-bullet">
        <li><i class="fa fa-envelope"></i> sales@kangaroothemes.com - <em>Sales</em></li>
        <li><i class="fa fa-envelope"></i> support@kangaroothemes.com - <em>Support</em></li>
        <li><i class="fa fa-envelope"></i> info@kangaroothemes.com - <em>General</em></li>
      </ul>




    </section>
    <div class="prl-span-8">
      <h3>FILL THE FORM</h3>
      <p>We look forward to hearing from you!</p>

      <form class="prl-form">
        <fieldset>
          <div class="prl-grid" data-prl-grid-margin>
            <div class="prl-span-6">
              <div class="prl-form-row space-bot">
                <label class="prl-form-label" for="name">Name *</label>
                <div class="prl-form-controls prl-comment-name"><input id="name" type="text" placeholder="" class="prl-width-1-1"></div>
              </div>

            </div>
            <div class="prl-span-6">
              <div class="prl-form-row space-bot">
                <label class="prl-form-label" for="email">Email *</label>
                <div class="prl-form-controls prl-comment-email"><input id="email" type="text" placeholder="" class="prl-width-1-1"></div>
              </div>
            </div>
            <div class="prl-span-12">
              <div class="prl-form-row space-bot">
                <label class="prl-form-label" for="subject">Subject</label>
                <div class="prl-form-controls prl-comment-url"><input id="subject" type="text" placeholder="" class="prl-width-1-1"></div>
              </div>
            </div>
            <div class="prl-span-12">

              <div class="prl-form-row space-bot">
                <label class="prl-form-label" for="form-s-t">Message *</label>
                <div class="prl-form-controls">
                  <textarea id="form-s-t" cols="30" rows="8" placeholder="" class="prl-width-1-1"></textarea>
                </div>
              </div>
            </div>
            <div class="prl-span-12">
              <div class="prl-form-row">
                <button class="prl-button prl-button-primary" type="submit">Send message</button>
                <em class="prl-form-help-inline">Required fields are marked (*)</em>

              </div>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>


